.git
.github
__pycache__
*.pyc
.pytest_cache
.venv
.env
storage/*
!storage/.gitkeep
COPY .env.example ./
ERROR: ... "/.env.example": not found

COPY README.md ./
ERROR: ... "/README.md": not found
source_files
